.page {
  min-height: 100vh;
}

header {
  background-color: blueviolet;
}

footer {
  background-color: orangered;
  height: 50px;
  font-size: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.text {
  color: white;
  text-align: center;
  font-size: 50px;
}
